@mixin center($align: center, $justify: center){
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

$shadow-A: 5px 5px 9px #5a5a5a, -5px -5px 9px #ffffff;

@mixin grid-A{
  height: 40vh;

  @media (max-width: 1400px) {
    height: 55vh;
  }

  @media (max-width: 1200px) {
    height: 70vh;
  }

  @media (max-width: 992px) {
    height: 85vh;
  }

  @media (max-width: 768px) {
    height: 100vh;
  }
}


