@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200;1,400;1,700&family=Sevillana&display=swap');
@import "~bootstrap/scss/bootstrap";
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-style: normal;
}
