@import  './../../mixins.scss';

.App {
  text-align: center;
  background: #c8cb39;
  box-shadow:  20px 20px 60px #bebebe,
  -20px -20px 60px #ffffff;
  & .wrapper {
    @include center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    font-size: calc(10px + 2vmin);
    color: rgba(203, 76, 57, .15);
  }
}
