@font-face {
  font-family: 'Helvetica Neue';
  src: url('../src/fonts/HelveticaNeueBoldCondensed.eot');
  src: local('../src/fonts/Helvetica Neue Condensed Bold'), local('../src/fonts/HelveticaNeueBoldCondensed'),
  url('../src/fonts/HelveticaNeueBoldCondensed.eot?#iefix') format('embedded-opentype'),
  url('../src/fonts/HelveticaNeueBoldCondensed.woff2') format('woff2'),
  url('../src/fonts/HelveticaNeueBoldCondensed.woff') format('woff'),
  url('../src/fonts/HelveticaNeueBoldCondensed.ttf') format('truetype');
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Helvetica Neue', sans-serif; // Condensed Bold
  font-weight: bold;
  font-style: normal;
}


