@import "./../../../node_modules/bootstrap/scss/bootstrap";
@import './../../mixins.scss';

.header {
  max-width: 1800px;

  & .may-carousel {
    box-shadow: $shadow-A;

    & .carousel-item {

      @include grid-A;

      transition: opacity 2s ease;

      & img {
        @include grid-A;
        object-fit: cover;
      }
    }
  }
}