@import "./../../../node_modules/bootstrap/scss/bootstrap";
@import './../../mixins.scss';

.header {
  max-width: 2560px;

  & .carousel {
    box-shadow: $shadow-A;

    &-caption {
      top: 40%;
      font-family: 'Raleway', sans-serif;

      & h3 {

      }

      & p {

      }
    }

    & .carousel-item {

      @include grid-A;

      transition: opacity 2s ease;

      & img {
        @include grid-A;
        object-fit: cover;
      }
    }
  }
}
