@import './../../mixins.scss';

$bg-color-A: rgb(156, 58, 43);
$bg-color-A-hover: rgba(156, 58, 43, .7);
$bg-color-B: rgba(140, 40, 40, .3);

.btn-a {
  color: #fff;
  background-color: $bg-color-A;
  border: none;
  padding: 0.5rem;
  margin: 0 0.7rem 0.7rem;
  font-family: 'HelveticaNeueCyr', sans-serif; // Condensed Black
  font-weight: 500;
  font-size: 0.7rem;
  border-radius: 3px;
  width: 4rem;
  cursor: pointer;
  box-shadow: 2px 3px 3px $bg-color-A;

  &:hover {
    background-color: $bg-color-A-hover;
  }

  &:active {
    box-shadow: none;
  }
}

@mixin mixinBtn_b_d{
  @include center;
  margin: 1rem;
  font-family: 'HelveticaNeueCyr', sans-serif; // Condensed Black
  cursor: pointer;
  border-radius: 5rem;
  border: .2rem solid #fff;

  box-shadow:
  2px 7px 3px $bg-color-B,
  1px 1px 2px $bg-color-B,
  .5px .5px .5px $bg-color-B;

  text-shadow:
  2px 7px 3px $bg-color-B,
  1px 1px 2px $bg-color-B,
  .5px .5px .5px $bg-color-B;

  height: 2rem;
  padding: 0.4rem;
  color: #fff;

  &:active {
    box-shadow:
    1px 1px 2px $bg-color-B,
    .5px .5px .5px $bg-color-B;

    text-shadow:
    1px 1px 2px $bg-color-B,
    .5px .5px .5px $bg-color-B;
  }
}
.btn-b {
  background-color: transparent;

  @include mixinBtn_b_d;

  &:hover {
    color: $bg-color-B;
    border-color: $bg-color-B;
  }
}

.btn-d{
  background-color: #f500d4;

  @include mixinBtn_b_d;

  &:hover {
    color: #ffe500;
    border-color: #ffe500;
  }
}

.btn-c {
  position: relative;
  margin: 0;
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  background-color: transparent;
  border: none;
  &::before,
  &::after {
    content: '';
    position: absolute;
    right: -0.2rem;
    width: 1.3rem;
    border-bottom: 1.5px solid #fff;
  }

  &::before {
    rotate: 45deg;
  }

  &::after {
    rotate: -45deg;
  }
}

